<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>GDC test</title>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.14/dist/semantic.min.css">
    <!--<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.14/semantic.min.js"></script>-->
    {% block head %}{% endblock %}
</head>
<body>
     {% block content %}
     {% endblock %}
      <!-- Your Semantic UI Code -->
</body>
</html>
