{% extends "base.html" %}
{% block title %}List Deployments{% endblock %}
{% block header %}List Deployments{% endblock %}

{% block content %}
<table class="ui celled table">
    <thead>
        <tr>
            <th>deployments</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
        <td>{{ item }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
