{% extends "base.html" %}
{% block title %}Deployments{% endblock %}
{% block header %}Deployments{% endblock %}

{% block content %}
<table class="ui celled table">
    <thead>
        <tr>
            <th>deploymentId</th>
            <th>instanceId</th>
            <th>instanceType</th>
            <th>lastUpdatedAt</th>
            <th>lifecycleEvents</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
        <td>{{ item.deploymentId }}</td>
        <td>{{ item.instanceId }}</td>
        <td>{{ item.instanceType }}</td>
        <td>{{ item.lastUpdatedAt }}</td>
        <td>
            <table>
                {% for subitem in item.lifecycleEvents %}

                {% if subitem.diagnostics.errorCode == 'Success' %}
                    <tr class="positive">
                {% elif item.diagnostics.errorCode == 'Fail' %}
                    <tr class="negative">
                {% else %}
                    <tr>
                {% endif %}
                <td>{{ subitem }}</td>
                    </tr>
                {% endfor %}
            </table>
        </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
